<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>HW6: Database Interaction and UI</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <div class="container">
      {{{body}}}
    </div>
  </body>
</html>
